body {
margin: 0;
padding: 0;
background-color:bisque;
border: 2px solid black;
}

div {
  min-width: 100px;
  min-height: 40px;
  background-color:rgb(223, 188, 145);
  border: 1px solid black;
  padding: 10px;
  margin: 10px 20px  ;
}

div.product-card {
padding: 10px;
display: flex;
flex-direction: row;
}

h3.product-title {
text-align: center;
order: 2;
margin-left: 20px;
}
img.product-image {
border: 1px solid rgb(54, 48, 48);
  height: 80px;
  order: 1;
}

h1{
  position: relative;
  animation: h1move 5s 1;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}

@keyframes h1move {
  from {left: 0px;}
  to {left: 250px;}
}